<div class="container-fluid">
    <div class="h-100 d-inline-block w-50" >
        <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <h3 class="h3 mb-3 font-weight-normal text-center">Sign In</h3>

            <div class="form-group">

                <input type="text" class="form-control text-center" formControlName="user" placeholder="User Name"
                    required>
            </div>
            <div class="form-group">

                <input type="password" class="form-control text-center mt-3" formControlName="password"
                    placeholder="Password">
            </div>
            <div class="mt-2 text-center">
                <button type="submit" class="btn btn-block btn-primary">Sign in</button>
            </div>

        </form>
    </div>
</div>